.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity 1s .1s;
}

.footer__column-link:hover {
  opacity: .5;
}
