.header__main-illustration {
  background-image: url(../../../images/header-image.png);
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
  justify-content: right;
  background-size: cover;
}
