.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  display: flex;
  position: absolute;
  top: 34px;
  left: 64px;
}

.header__title {
  display: flex;
  position: relative;
  align-items: center;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 390px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;

}

.link {
  z-index: 2;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  justify-content: right;
  background-size: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  display: flex;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0;
  padding-top: 20px;
}

.two-columns__paragraph:first-of-type {
  padding-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding-bottom: 100px;
  padding-top: 100px;
}

.digits-title {
  display: flex;
  position: relative;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 20px;
}

.digits-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
}

.table {
  width: 1100px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  row-gap: 60px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  vertical-align: baseline;
  z-index: 2;
  margin-right: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.feynman {
  height: 890px;
  max-height: 890px;
  position: relative;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.feynman__illustration {
  background-image: url(../images/feynman.png);
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.feynman__title {
  position: relative;
  width: 648px;
  height: 300px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  z-index: 2;
}

.feynman__subtitle {
  display: flex;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  height: 80px;
  z-index: 2;
  text-align: center;
  justify-content: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-content: baseline;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  display: flex;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
}

.section-title_theme_dark {
  width: 60%;
}

.section-subtitle_theme_dark {
  width: 60%;
}

.table__cell_theme_dark {
  width: 200px;
}

.footer {
  display: flex;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  color: white;
}

.footer__columns {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  display: flex;
}

.footer__author {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content__info {
  display: flex;
  flex-direction: column;
}

.footer__column_content__info:last-of-type {
  padding-bottom: 16px;
}

.footer__column-heading {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__columns_content_social:last-of-type{
  padding-bottom: 16px;
}

.footer__column_content__social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
